# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
# Database
*.sqlite3
*.db

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/

# Secrets
secrets/
*.pem
*.key